<div id="home">
  <div class="home-content">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(27,20,100,0.6) 0%, rgba(242,120,0,0.4) 50%), url('images/potential.jpg');">
      <div class="banner-content">
        <h2>unleashing your incredible potential and happiness through coaching and hypnotherapy</h2>
      </div>
    </div>
  </div>
</div>
<div class="program-explanation">
  <h3>how i can help</h3>
  <p>I provide coaching and hypnotherapy, two unique and effective methods, to help you be the best person you can be. <br>Let’s take a look at these services in more detail: </p>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="program-cards">
        <div class="image-name">
          <img src="images/programs-09.png" alt="coaching">
          <h4>coaching</h4>
        </div>
        <div class="description">
          <div class="what-is-it">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
          </div>
          <div class="who-is-it-for">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
          </div>
          <div class="benefits">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
            <div class="call-to-action">
              <a href="#" class="navbar-wagon-item navbar-wagon-link btn-cta">Book a Session</a><br>
              <a href="#" class="link-card">or read more details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="program-cards">
        <div class="image-name">
          <img src="images/programs-10.png" alt="coaching">
          <h4>hypnosis</h4>
        </div>
        <div class="description">
          <div class="what-is-it">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
          </div>
          <div class="who-is-it-for">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
          </div>
          <div class="benefits">
            <h6>what is it?</h6>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Ut nec sapien turpis. Mauris ultrices velit</p>
            <div class="call-to-action">
              <a href="#" class="navbar-wagon-item navbar-wagon-link btn-cta">Book a Session</a><br>
              <a href="" class="link-card">or read more details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="testimonials-grid">
  <span class="testimonial-title"><h3>testimonials</h3></span>
  <%= image_tag('testimonial-1.jpg', class: "testimonial-one") %>
  <%= image_tag('testimonial-2.jpg', class: "testimonial-two") %>
  <div class="testimonial-text">
    <p>"Karen’s coaching helped me pinpoint the area in my life of most trouble, and as a result I was able to work on it daily and see vast improvements everywhere."
    <br><br>-Jessica</p>
  </div>
  <div class="testimonial-button">
    <button class="btn-testimonial">See More</button>
  </div>
</div>
<div class="blog-home">
  <h3>readings</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-4" align="center">
      <div class="reading-cards">
        <%= image_tag('farm.jpg', class: "reading-image") %>
        <div class="reading-title">
          <p><b>Lorem ipsum dolor sit amet</b></p>
        </div>
        <div class="reading-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in turpis a mauris imper molestie. Maecenas tincidunt..</p>
        </div>
        <button class="btn-readmore">read more</button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" align="center">
      <div class="reading-cards">
        <%= image_tag('evening.jpg', class: "reading-image") %>
        <div class="reading-title">
          <p><b>Lorem ipsum dolor sit amet</b></p>
        </div>
        <div class="reading-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in turpis a mauris imper molestie. Maecenas tincidunt..</p>
        </div>
        <button class="btn-readmore">read more</button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" align="center">
      <div class="reading-cards">
        <%= image_tag('farm.jpg', class: "reading-image") %>
        <div class="reading-title">
          <p><b>Lorem ipsum dolor sit amet</b></p>
        </div>
        <div class="reading-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in turpis a mauris imper molestie. Maecenas tincidunt..</p>
        </div>
        <button class="btn-readmore">read more</button>
      </div>
    </div>
  </div>
</div>
<div class="subscribe-newsletter-banner">
  <h3>subscribe</h3>
  <form action="">
    <input type="text" placeholder="email" id="email-form">
    <div>
      <button class="btn-readmore" type="submit" style="background-color: #f27800; font-size: 12px; position: relative; left: 65px; border: none; border-radius: 10px;">sign up for weekly freebies <br> and news</button>
    </div>
  </form>
</div>

